*
!bat/
!bat/**
!fish/
!fish/**
!git/
!git/**
!kitty/
!kitty/**
!lazygit/
!lazygit/**
!neovide/
!neovide/**
!nvim/
!nvim/**
!starship/
!starship/**
!phpstorm-stubs
!phpstorm-stubs/
!phpstorm-stubs/**
!homebrew/
!homebrew/**
!wezterm/
!wezterm/**
!goneovim/
!goneovim/**
!aerospace/
!aerospace/**
!nix/
!nix/**
!alacritty/
!alacritty/**
!ghostty/
!ghostty/**
!zed/
!zed/keymap.json
!zed/settings.json
!zed/tasks.json
!zed/debug.json
!zed/rules
!zed/rules/**
!musicfox.png
!claude/
!claude/**
!codex/
!codex/prompts/
!codex/prompts/**
!go-musicfox/
!go-musicfox/**
!avante/
!avante/**
!crush/
!crush/**
