*
!bat/
!bat/**
!fish/
!fish/**
!git/
!git/**
!kitty/
!kitty/**
!lazygit/
!lazygit/**
!neovide/
!neovide/**
!nvim/
!nvim/**
!starship/
!starship/**
!phpstorm-stubs
!phpstorm-stubs/
!phpstorm-stubs/**
!homebrew/
!homebrew/**
!wezterm/
!wezterm/**
!goneovim/
!goneovim/**
!aerospace/
!aerospace/**
!nix/
!nix/**
