# 初始化一些前置的、必要的环境变量等
# init.fish.example => init.fish

# for openai
set -gx OPENAI_API_KEY xxx

# for deepseek
set -gx DEEPSEEK_API_KEY xxx

# for moonshot
set -gx MOONSHOT_API_KEY xxx

# for claude code
set -gx ANTHROPIC_BASE_URL https://api.moonshot.cn/anthropic
set -gx ANTHROPIC_AUTH_TOKEN xxx

set -gx HOMEBREW_PREFIX /opt/homebrew
#set -gx HOMEBREW_PREFIX "/usr/local"

set -gx PATH "/opt/homebrew/lib/ruby/gems/3.2.0/bin:$PATH"

# cangjie lang
set -gx CANGJIE_HOME /usr/local/cangjie
set -gx PATH "$CANGJIE_HOME/bin:$CANGJIE_HOME/tools/bin:$PATH:$HOME/.cjpm/bin"
set -gx DYLD_LIBRARY_PATH "$CANGJIE_HOME/runtime/lib/darwin_aarch64_llvm:$CANGJIE_HOME/tools/lib:$DYLD_LIBRARY_PATH"
set -gx SDKROOT "/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk"
# set -gx SDKROOT "/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk"

set -gx CUSTOM_PROXY_HOST ''
set -gx CUSTOM_PROXY_PORT ''
set -gx CUSTOM_PROXY_USER ''
set -gx CUSTOM_PROXY_PASSWD ''
