# 初始化一些前置的、必要的环境变量等
# init.fish.example => init.fish

# for openai
set -gx OPENAI_API_KEY xxx

# for deepseek
set -gx DEEPSEEK_API_KEY xxx

# for moonshot
set -gx MOONSHOT_API_KEY xxx

# for minimax
set -gx MINIMAX_CC_BASE_URL https://api.minimaxi.com/anthropic
set -gx MINIMAX_CC_AUTH_TOKEN xxx
set -gx MINIMAX_CC_MODEL MiniMax-M2.1
set -gx MINIMAX_CC_SMALL_FAST_MODEL MiniMax-M2.1
set -gx MINIMAX_CC_DEFAULT_SONNET_MODEL MiniMax-M2.1
set -gx MINIMAX_CC_DEFAULT_OPUS_MODEL MiniMax-M2.1
set -gx MINIMAX_CC_DEFAULT_HAIKU_MODEL MiniMax-M2.1

# for glm
set -gx GLM_CC_BASE_URL https://open.bigmodel.cn/api/anthropic
set -gx GLM_CC_AUTH_TOKEN xxx
set -gx GLM_CC_MODEL GLM-4.7
set -gx GLM_CC_SMALL_FAST_MODEL GLM-4.5-Air
set -gx GLM_CC_DEFAULT_SONNET_MODEL GLM-4.7
set -gx GLM_CC_DEFAULT_OPUS_MODEL GLM-4.7
set -gx GLM_CC_DEFAULT_HAIKU_MODEL GLM-4.5-Air

# for claude code
set -gx ANTHROPIC_BASE_URL "$MINIMAX_CC_BASE_URL"
set -gx ANTHROPIC_AUTH_TOKEN "$MINIMAX_CC_AUTH_TOKEN"
set -gx CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC 1
set -gx API_TIMEOUT_MS 3000000
set -gx DISABLE_TELEMETRY true
set -gx DISABLE_COST_WARNINGS true
set -gx ANTHROPIC_MODEL "$MINIMAX_CC_MODEL"
set -gx ANTHROPIC_SMALL_FAST_MODEL "$MINIMAX_CC_SMALL_FAST_MODEL"
set -gx ANTHROPIC_DEFAULT_SONNET_MODEL "$MINIMAX_CC_DEFAULT_SONNET_MODEL"
set -gx ANTHROPIC_DEFAULT_OPUS_MODEL "$MINIMAX_CC_DEFAULT_OPUS_MODEL"
set -gx ANTHROPIC_DEFAULT_HAIKU_MODEL "$MINIMAX_CC_DEFAULT_HAIKU_MODEL"

set -gx HOMEBREW_PREFIX /opt/homebrew
#set -gx HOMEBREW_PREFIX "/usr/local"

set -gx PATH "/opt/homebrew/lib/ruby/gems/3.2.0/bin:$PATH"

# cangjie lang
set -gx CANGJIE_HOME /usr/local/cangjie
set -gx PATH "$CANGJIE_HOME/bin:$CANGJIE_HOME/tools/bin:$PATH:$HOME/.cjpm/bin"
set -gx DYLD_LIBRARY_PATH "$CANGJIE_HOME/runtime/lib/darwin_aarch64_llvm:$CANGJIE_HOME/tools/lib:$DYLD_LIBRARY_PATH"
set -gx SDKROOT "/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk"
# set -gx SDKROOT "/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk"

set -gx CUSTOM_PROXY_HOST ''
set -gx CUSTOM_PROXY_PORT ''
set -gx CUSTOM_PROXY_USER ''
set -gx CUSTOM_PROXY_PASSWD ''
