# 初始化一些前置的、必要的环境变量等
# init.fish.example => init.fish

set -gx HOMEBREW_PREFIX /opt/homebrew
#set -gx HOMEBREW_PREFIX "/usr/local"

set -gx PATH "/opt/homebrew/lib/ruby/gems/3.2.0/bin:$PATH"

# cangjie lang
set -gx CANGJIE_HOME /usr/local/cangjie
set -gx PATH "$CANGJIE_HOME/bin:$CANGJIE_HOME/tools/bin:$PATH:$HOME/.cjpm/bin"
set -gx DYLD_LIBRARY_PATH "$CANGJIE_HOME/runtime/lib/darwin_aarch64_llvm:$CANGJIE_HOME/tools/lib:$DYLD_LIBRARY_PATH"
set -gx SDKROOT "/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk"
